<meta charset="UTF-8">
<style type="text/css">@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');
._customer-wrap {
    max-width: 1147px;
    min-width: 240px;
    margin: 0 auto;
    font: 15px 'Roboto', Arial, sans-serif;
    font-weight: 300;
    color: #333333;
    padding: 20px 0 60px;
}
._customer-desc {
    text-align: justify;
}
._customer__ttl {
	width: 100%;
	font-weight: 500;
	font-size: 28px;
	line-height: 30px;
	margin-bottom: 50px !important;
	position: relative;
	padding-left: 25px;
	color: #000000;
}
._customer__ttl:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #f46000;
    position: absolute;
    top: 8px;
    left: 0;
}
 ._customer-item {
    margin-top: 60px;
    margin-bottom: 20px;
}
._customer-item__block {
    display: flex;
    margin-bottom: 40px;
    color: #757678;
}
 ._customer-item__block p {
    line-height: 22px;
    margin: 0;
    color: #999999;
}
._customer-item__title {
    font-size: 20px;
	line-height: 20px;
	font-weight: 400;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
	color: #000000 !important;
}
._customer-item__main {
    padding: 0 30px;
}
._customer-item__img img {
    max-width: 269px !important;
	height: auto;
}
ul._customer-advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
	margin-bottom: 50px;
    padding: 0;
    margin-left: 0 !important;
}
._customer-advantages li {
    width: 46%;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 80px;
    background-position: left top;
    background-repeat: no-repeat;
    margin-bottom: 20px;
    color: #666666;
    line-height: 22px;
    padding-bottom: 5px;
}
._customer-advantages__ttl {
     font-weight: 500;
     font-size: 18px;
     line-height: 24px;
     color: #000000;
}
._customer-page__contacts {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    min-height: 200px;
    box-sizing: border-box;
    padding: 30px 145px 30px 185px;
    border: 2px solid #f9af7f;
    background: url(img/page_servises/avatar.png) 40px center no-repeat;
    font-size: 16px;
    line-height: 24px;
    color: #333;
    font-weight: 400;
}
._customer-page__contacts a {
    font-size: 18px;
    font-weight: 500;
}
._customer-page__contacts p {
    width: 100%;
    margin-bottom: 15px !important;
}
._customer-page__contacts hr {
    display: block;
    width: 1px;
    height: 30px;
    border: none;
    background-color: #a6c9df;
    margin: 0 45px 0 0;
}
._customer-page__contacts a {
    display: inline-block;
    color: inherit !important;
    text-decoration: none;
    white-space: nowrap;
    margin-right: 45px;
}
._customer-page__contacts a:before {
    content: "";
    margin-right: 6px;
    position: relative;
    top: 2px;
}
._customer-page__contacts a[href^=tel]:before {
    content: url(img/page_servises/icon-phone.png);
}
._customer-page__contacts a[href^=mailto]:before {
    content: url(img/page_servises/icon-mail.png);
}
._customer-page__contacts a:hover {
    text-decoration: underline;
}
._customer-btn {
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border-radius: 4px;
    padding: 12px 24px;
    border: none !important;
    background-color: #f46000;
    color: #fff !important;
    font: 400 13px/1 Roboto, Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: opacity .2s;
}
._customer-btn:hover {
    opacity: 0.8;
}
._customer-btn__catalog {
    width: 200px;
	margin: 60px auto;
	display: block;
}
._customer-btn__catalog a {
	color: #ffffff;
	text-decoration: none;
}
 
@media (max-width: 1150px) {
    ._customer-page__contacts {
        padding-right: 90px;
    }
    ._customer-page__contacts hr,
    ._customer-page__contacts a {
        margin-right: 30px !important;
    }
}
@media (max-width: 992px) {
    ._customer-page__contacts {
        flex-direction: column;
        padding: 155px 15px 15px !important;
        background-position: center 20px;
    }
    ._customer-page__contacts hr {
        display: none;
    }
    ._customer-page__contacts>* {
        margin-bottom: 15px !important;
    }
    ._customer-page__contacts a {
        margin-right: 0 !important;
    }
    ._customer-page__contacts p {
        text-align: center;
    }
	._customer-item__block {
        display: block;
        text-align: center;
    }
    ._customer-item__img img {
        margin: 0 auto;
    }
    ._customer-advantages li {
        width: 100%;
    }
	._customer-btn__catalog {
		margin: 0 auto 50px;
	}
}
@media (max-width: 768px) {
    ._customer-wrap {
        padding: 20px 10px 40px;
    }
    ._customer-item__img img {
        width: 100%;
        height: auto;
    }
}
 </style>
 
<div class="_customer-wrap">
    <div class="_customer-desc">ООО &laquo;Фокс Транс Инвест&raquo; приглашает к сотрудничеству и предлагает
        комплексные решения для предприятий, компаний и частных заказчиков. Мы производим качественный прокат,
        а также оказываем широкий спектр услуг разного профиля.</div>
    <div class="_customer-item">
        <div class="_customer-item__block">
            <div class="_customer-item__img">
                <img alt="Резка металла" src="img/page_servises/img-1.png" />
            </div>
            <div class="_customer-item__main">
                <div class="_customer-item__title">Резка металла</div>
                <p>Осуществляем лазерную, плазменную, гидроабразивную резку и рубку гильотиной проката разного типа:
                    листы, полосы, швеллер, труба, шестигранники, арматура, круг, уголок, квадрат. Оперативно и
                   качественно выполняем раскрой элементов любой формы и размера.
                </p>
            </div>
        </div>
        <div class="_customer-item__block">
            <div class="_customer-item__img">
                <img alt="Металлообработка" src="img/page_servises/img-2.png" />               
            </div>
             <div class="_customer-item__main">
                <div class="_customer-item__title">Металлообработка</div>
                <p>Сварка деталей и заготовок, грунтование, очистка, покраска и другие виды металлообработки.
                    Применяется современное оборудование, качественные материалы и составы. В короткие сроки
                    обрабатываем большие партии черного/цветного проката.
                </p>
             </div>
        </div>
        <div class="_customer-item__block">
            <div class="_customer-item__img">
                <img alt="Комплектация сложных заказов" src="img/page_servises/img-3.png" />
            </div>
            <div class="_customer-item__main">
                <div class="_customer-item__title">Комплектация сложных заказов</div>
                <p>Грамотная комплектация заказов разного уровня сложности. По заявкам предприятий и частных
                     заказчиков комплектуем большой сортамент проката, изделия негабаритной длины, тяжеловесные
                    заготовки и детали любого размера и формы.
                </p>
            </div>
        </div>
        <div class="_customer-item__block">
            <div class="_customer-item__img">
                <img alt="Формирование сборных грузов" src="img/page_servises/img-4.png" />
            </div>
            <div class="_customer-item__main">          
                <div class="_customer-item__title">Формирование сборных грузов</div>
                <p>Сбор, комплектация и отправка сборных грузов из любого сортамента проката, лакокрасочных материалов,
                    строительных материалов и других видов продукции, сырья. Формируем грузы любого объема, в том
                    числе специфические и нестандартные.
                </p>
            </div>
        </div>
        <div class="_customer-item__block">
            <div class="_customer-item__img">
                <img alt="Доставка металлопроката" src="img/page_servises/img-5.png" />
            </div>
            <div class="_customer-item__main">
                <div class="_customer-item__title">Доставка металлопроката</div>
                <p>Предприятиям, крупным производителям, частным заказчикам предлагаем доставку разных партий проката
                   с привлечением собственных или арендованных автомобилей, а также транспортными компаниями
                   GTD, SAMCOM, Альфа и др. Транспортировка по всей России проводится оперативно, качественно,
                   с соблюдением договорных условий.
                </p>
             </div>
        </div>
    </div>
	<div class="_customer-btn _customer-btn__catalog">
		<a href="/catalog">Перейти в каталог</a>
	</div>
    <h2 class="_customer__ttl">Преимущества сотрудничества с нами</h2>
    <ul class="_customer-advantages">
        <li style="background-image: url(img/page_servises/icon-1.png);">
             <div class="_customer-advantages__ttl">Качество</div>
             <p>Вся продукция и услуги соответствуют нормативно-технической документации и требованиям заказчиков.</p>
        </li>
        <li style="background-image: url(img/page_servises/icon-2.png);">
             <div class="_customer-advantages__ttl">Индивидуальный подход</div>
             <p>Особые предложения для производителей и корпоративных заказчиков.</p>
        </li>
        <li style="background-image: url(img/page_servises/icon-3.png);">
             <div class="_customer-advantages__ttl">Быстрая доставка</div>
             <p>Оперативная доставка в сроки, оговоренные в договоре.</p>
        </li>
        <li style="background-image: url(img/page_servises/icon-4.png);">
             <div class="_customer-advantages__ttl">Надежность</div>
             <p>Комплексное обслуживание и решение самых сложных задач.</p>
        </li>
        <li style="background-image: url(img/page_servises/icon-5.png);">
             <div class="_customer-advantages__ttl">Акции</div>
             <p>Всегда актуальные цены, гибкая система скидок.</p>
        </li>
    </ul>
     <div class="_customer-page__contacts">
         <p>Для уточнения сроков и условий выполнения услуг, а также оформления заказа свяжитесь с менеджерами компании.</p>
         <a href="mailto:info@metallfts.com" onclick="yaCounter50850915.reachGoal('megasite_about_tel'); return true;">
            info@metallfts.com
         </a>
         <hr />
         <a href="tel:+79122234281" onclick="yaCounter50850915.reachGoal('megasite_about_email'); return true;">
            +7 (912) 223-42-81
         </a>
         <button class="_customer-btn ab-order js-apress-order-button js-orders-callback-link" data-button-type="order_callback"
                data-company="99664344" data-company-id="99664344" data-company-name="Фокс Транс Инвест" data-company-name-rest="ООО"
                data-company-url="http://www.metall-fti.ru/catalog" data-params="{&quot;company_id&quot;:&quot;99664344&quot;}"
                data-statistics="1" data-type="callback" onclick="yaCounter50850915.reachGoal('megasite_about_callback');
                return true;">Заказать звонок
         </button>
     </div>
</div>
